/* General Styles */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h1, h2 {
    font-family: 'Lobster', cursive;
    color: #d9534f;
}

.question-image {
    width: 100%;
    height: auto;
    margin: 15px 0;
}

/* Answer Options */
.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answer-option {
    background-color: white;
    color: #333;
    padding: 10px;
    border: 2px solid #d9534f;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.answer-option.correct {
    background-color: #5cb85c; /* Green for correct answer */
    color: white;
}

.answer-option.incorrect {
    background-color: #d9534f; /* Red for incorrect answer */
    color: white;
}