/* General Styles */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h1, h2 {
    font-family: 'Lobster', cursive;
    color: #d9534f;
}

.question-image {
    width: 100%;
    height: auto;
    margin: 15px 0;
}